        body {
            background: url(/bia/images/background.jpg);
            background-position: right;
            display: flex;
            margin: 0;
            flex-direction: column;
            background-repeat: no-repeat; }


        .nav { position: fixed; z-index: 5000; }
        #large-nav {
            position: fixed;
            top: 5.3em;
            width: 15%;
            height: 27em;
            margin: 0 0 0em 4em;
            border-radius: 0.8em;
            padding: 0.5em 0 0 0;}
        .lbtn { width: 100%; border-radius: 0; }

        #small-nav {
            width: 13.5%;
            height: 32em;
            padding: 13em 0 0 0;
            position: fixed;
            top: 0;
            z-index: 0.9; }
        .sbtn { width: 100%; border-radius: 0; }
        #large-nav a { color: white; text-align: left; }
        #large-nav i { margin-left: 17%; }
        #large-nav .btn { border: 2px grey solid; }
        .modal { z-index: 1050; width: 70%; border-radius: 1em; }
        .modal-header { color: black; margin-left: 1em; padding: 0.8em 0.8em 0; }
        .modal-content { background: #e0f7fa; }
        .modal-footer { 
            color: black; }
        #modal1, #modal2 {
            width: 40%; border-radius: 1em; font-family: Arial Round, serif; }



        .small {
            position: absolute;
            top: 12%;
            width: 75%;
            left: 19%;
            text-align: center; }

        .medium {
            position: absolute;
            top: 48em; /* Adjust this value as necessary */
            width: 80%; /* Adjust the width as needed */
            left: 61%; /* Centering */
            transform: translate(-50%, -50%); /* Adjust for centering */
            text-align: center; }

        .large {
            position: absolute;
            top: 7em;
            width: 74%;
            left: 24%;
            text-align: center; }

        #navImg   {width: 19%;
                   position: absolute;
                   right: 95%;}
        #sideImg  {width: 13%;
                   position: absolute;
                   top: 0;
                   right: 93%}
        #side  {
            width: 80%;
            border-radius: 50%;
            position: absolute;
            top: 5.5em;
            left: 10%;
            text-align: center; }

        footer {position: relative;
                z-index: 5000;}
        #audio { height: 20px; width: 90px; position: relative; bottom: 1em; left: 145px; }


        /* Media Query for responsive design */
        @media (min-width: 900px) {
            .medium { top: 40em; width: 78%; }
                                    }